<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: head(title='List of electronic bicycles')">
</head>
<body>

<h1 align="center">List of all bicycles</h1>

<div align="top-right" style="position: fixed;right: 10px; top:5px">
    <a href="#" th:href="@{/logout}">Log Out</a>
</div>

<div th:if="${not #lists.isEmpty(newBicycleList)}">

    <table style="width: 50%" align="center" border="1px solid black">
        <tr>
            <th>Model</th>
            <th>Serial Number</th>
        </tr>
        <th:block th:each="bicycle : ${newBicycleList}">
            <tr>
                <td th:text="${bicycle.getModel()}"></td>
                <td th:text="${bicycle.getSerialNumber()}"></td>
            </tr>
        </th:block>
    </table>
</div>
<br>
<br>
<br>
<br>
<!--šeit pievienojam jaunu velosipedu-->
<form th:action="@{/createNewBicycle}" th:object="${newBicycle}" method="POST" align="center">
    <label>Add New Bicycle:</label>
    <label>Model:</label>
    <input type="text" th:field="*{model}" required>
    <label>Serial Number:</label>
    <input type="text" th:field="*{serialNumber}" required>
    <input type="submit" class="btn" value="Create New Bicycle">
</form>


<h1 align="center">List of reservations</h1>
<div th:if="${not #lists.isEmpty(reservationList)}">
    <table style="width: 50%" align="center" border="1px solid black">
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Model</th>
            <th>Serial Number</th>
            <th>Time From</th>
            <th>Time To</th>
        </tr>
        <th:block th:each="reservation : ${reservationList}">
            <tr>
                <td th:text="${reservation.user.username}"></td>
                <td th:text="${reservation.user.firstName}"></td>
                <td th:text="${reservation.user.lastName}"></td>
                <td th:text="${reservation.bicycle.model}"></td>
                <td th:text="${reservation.bicycle.serialNumber}"></td>
                <td th:text="${reservation.timeFrom}"></td>
                <td th:text="${reservation.timeTo}"></td>
            </tr>
        </th:block>
    </table>
</div>
<br>
<div align="center">
    <button onclick="location.href='createReservation'" type="button" class="btn">Reserve bicycle</button>
</div>

</body>
</html>