<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: head(title='Reservation')"></head>
<body>
<h1 align="center">Make your reservation</h1>

<div align="top-right" style="position: fixed;right: 10px; top:5px">
    <a href="#" th:href="@{/logout}">Log Out</a>
</div>

<div th:fragment="content" align="center">
    <form th:action="@{/createNewReservation}" th:object="${newReservation}" method="post">
        <fieldset style="border: 1px black solid">
            <legend>Please select your username and choose bicycle and time</legend>

            <label>User</label>
            <select name="User" th:field="*{user}">
                <option value="">--</option>
                <option
                        th:value="${currentUser.id}"
                        th:text="${currentUser.firstName + ' ' + currentUser.lastName}"></option>
            </select>


            <select name="Bicycle Serial Number" th:field="*{bicycle}">
                <option
                        th:each="bicycle: ${listOfBicycles}"
                        th:value="${bicycle.id}"
                        th:text="${bicycle.serialNumber}"></option>
            </select>
            <label>Time from:</label>
            <input type="time" th:field="*{timeFrom}"/>
            <label>Time to:</label>
            <input type="time" th:field="*{timeTo}"/>
            <div class="form-actions">
                <button type="submit" class="btn" style="border: black">Save reservation</button>
            </div>
        </fieldset>

    </form>

</div>

</body>
</html>